<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>关于我们</title>
		<link rel="icon" href="favicon.ico" />	
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="css/new.css" />
		<link rel="stylesheet" type="text/less" href="less/common.less" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
	</head>

	<body>
		<div class="box" id="app" v-cloak>
				<div class="top">
				<div class="w1200">
					<a href="index.html" title="捷航教育科技有限公司" class="pull-left">
						<div class="logo"><img src="img/logo.png"></div>
					</a>
					<ul class="navhead">
							<li class="active">
								<a href="index.html">首页</a>
							</li>
							<li v-for="item in list">
								<span>{{item.typeid}}</span>
								<ul>
									<li v-for="sing in item.countrylist"><a       v-bind:href="'country.html?id='+sing.Id">{{sing.country}}</a></li>
									
								</ul>
							</li>							
							<li>
								<a href="plan.html">留学服务</a>
							</li>
							<li>
								<a href="questCenter.html">答疑中心</a>
							</li>
							<li>
								<a href="about.html?id=1">公司简介</a>
							</li>
							<div class="clearfix"></div>
						</ul>
					<div class="phone pull-right">
						<p>咨询热线:15301813081</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="wrap">
				<!--轮播图-->
				<div class="swiper-container" style="width: 100%;min-width: 1200px;">
					<div class="swiper-wrapper bannerImg">
						<div class="swiper-slide" style="background: url(images/about_img.png) no-repeat center center;background-size: cover;min-width:1200px;-webkit-logical-height: 400px;width: 100%;">
						</div>
					</div>
				</div>
			</div>
            <!--<div class="about_img" style="background: url(images/about_img.png) no-repeat center center;background-size: cover;min-width:1200px;-webkit-logical-height: 400px;width: 100%;">-->
				<!--<img src="images/about_img.png" alt="">-->
			<!--</div>-->
			<div class="w_1200">
				<h5 class="title_about">关于捷航</h5>
				<div class="about_com_div">
					<div class="about_com_list fl">
						<ul>
							<a href="about.html?id=1" class="a_active">
								<li>
									 捷航简介
								</li>
							</a>

							<a href="about.html?id=2">
								<li>
									企业文化
								</li>
							</a>
							<a href="about.html?id=3">
								<li>
								企业环境
								</li>
							</a>
							<a href="about.html?id=4">
								<li>
									隐私说明
								</li>
							</a>
							<a href="about.html?id=5">
								<li>
									 联系我们
								</li>
							</a>

						</ul>
					</div>
					<div class="fr about_com_right">
						<div class="change_son" style="display: block">
							<h5>{{title}}</h5>							
							<div v-for="item in jianjie"  style="margin-top: 30px;">
							 <p v-html="item.content"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
						
<iframe frameborder="0" scrolling="no"  src="footer.html" height="516px" width="100%"  style="min-width:1200px;"></iframe>	
		</div>
		<script src="config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.onload = function() {
				var vm = new Vue({
					el: '#app',
					data: {
						list: null,
						jianjie:null,
						type:1,
						title:""
					},
					methods: {
						getData: function(url, params) {
							axios({
								method: 'get',
								url: url,
								data: params
							}).then((res) => {
								res.data.data.forEach(function(item, index) {
									if(item.typeid == 'zo') {
										item.typeid = "中欧"
									} else if(item.typeid == 'do') {
										item.typeid = "东欧"
									} else if(item.typeid == 'xo') {
										item.typeid = "西欧"
									} else if(item.typeid == 'bo') {
										item.typeid = "北欧"
									} else if(item.typeid == 'no') {
										item.typeid = "南欧"
									} else if(item.typeid == 'dny') {
										item.typeid = "东南亚"
									}

								})
								this.list = res.data.data;
							})
						},
						  //   接收参数
					   getParamString:function(name)
						{
						     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
						     var r = window.location.search.substr(1).match(reg);
						     if(r!=null)return  unescape(r[2]); return null;
						},
						getjianjie: function(url) {
							axios({
								method:'post',
								url: url,
								params:{type:this.type} 
							}).then((res) => {
							this.jianjie =res.data.data
							})
						}
					},
					created() {
						this.type=this.getParamString("id");
						if(this.type==1){
							this.title="捷航简介"
						}else if(this.type==2){
							this.title="企业文化"
						}else if(this.type==3){
							this.title="企业环境"
						}else if(this.type==4){
							this.title="隐私说明"
						}else if(this.type==5){
							this.title="联系我们"
						}
						$(".about_com_list ul a").eq(this.type-1).siblings().removeClass("a_active");
						$(".about_com_list ul a").eq(this.type-1).addClass("a_active");																		
						this.getData("/getcountry", {})												
						this.getjianjie("/companyprofile")
					}
				})

			}
		</script>
	</body>

</html>