<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>捷航教育-捷航留学,留学优选品牌,出国留学考试领先机构,留学培训一站服务,选捷航！</title>
		<meta name="keywords" content="留学,出国留学,出国,留学中介,捷航留学,捷航留学网" />
		<link rel="icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/less" href="less/common.less" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
		<link rel="stylesheet" type="text/css" href="style/2018base.css">
		<link rel="stylesheet" type="text/css" href="style/2018index_css.css">
		<link rel="stylesheet" type="text/css" href="style/hiture.css" />
		<link rel="stylesheet" type="text/css" href="style/lcw2016_testv2.0.css" />
		<link rel="stylesheet" type="text/css" href="style/common_liuxue.css" />
		<link rel="stylesheet" type="text/css" href="style/reset.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="less/plan.css" />
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.14.0/axios.js"></script>
		
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?1aabfacd8c0c0219e5294387055c0b2e";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>

	</head>

	<body>

		<div class="box" id="app" v-cloak>
			<div class="top">
				<div class="w1200">
					<a href="index.html" title="捷航教育科技有限公司" class="pull-left">
						<div class="logo"><img src="img/logo.png"></div>
					</a>
					<ul class="navhead">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li v-for="item in list">
							<span>{{item.typeid}}</span>
							<ul>
								<li v-for="sing in item.countrylist">
									<a v-bind:href="'country.html?id='+sing.Id">{{sing.country}}</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="plan.html">留学服务</a>
						</li>
						<li>
							<a href="questCenter.html">答疑中心</a>
						</li>
						<li>
							<a href="about.html?id=1">公司简介</a>
						</li>
						<div class="clearfix"></div>
					</ul>
					<div class="phone pull-right">
						<p>咨询热线:15301813081</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--头部导航-->
			<!--<header>
				<div class="w1200">

					<dl class="tnRight">

						
						<div class="clearfix"></div>
					</dl>

				</div>
			</header>-->

			<div class="wrap">
				<!--轮播图-->
				<div class="swiper-container" style="width: 100%;min-width: 1200px;height:500px">
					<div class="swiper-wrapper bannerImg">
						<div class="swiper-slide" style="background: url(images/banner1.png) no-repeat center center;background-size: cover;min-width:1200px">
							<!--<img src="images/banner1.png">-->
						</div>
						<div class="swiper-slide" style="background: url(images/banner2.png) no-repeat center center;background-size: cover;min-width:1200px">
							<!--<img src="images/banner2.jpg">-->
						</div>

						<div class="swiper-slide" style="background: url(images/banner3.png) no-repeat center center;background-size: cover;min-width:1200px">
							<!--<img src="images/banner3.jpg">-->
						</div>

					</div>
					<div class="swiper-pagination dotPos"></div>
				</div>

				<!-----------捷航服务---------->
				<div class="service">
					<div class="two_ch">
						<img src="picture/thrch.png">
					</div>
					<div class="two_Ach">
						<ul>
							<li><img src="picture/zi01.png">留学规划</li>
							<li style="background: #fc6b4b"><img src="picture/zi02.png">全程指导</li>
							<li style="background: #ff8b71"><img src="picture/zi03.png">背景提升</li>
							<li style="background: #ffa173"><img src="picture/zi04.png">留学后服务</li>
						</ul>
					</div>
					<div class="two_Bch">
						<div class="two_Bch_con">
							<dl>
								<a href="#" rel="nofollow"><dt>我想，咨询留学申请</dt></a>
								<dd>免学费留学生团队规划留学方案</dd>
								<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D'  class="bc_a" title="捷航留学免费评估系统">免费评估</a>
							</dl>
							<img src="picture/bms01.png">
						</div>
						<div class="two_Bch_con">
							<dl>
								<a href="#" rel="nofollow"><dt>我想，提高成绩</dt></a>
								<dd>语言证书指导&nbsp;&nbsp&nbsp;" 选拔考试指导</dd>
								<a href='#' class="bc_a" rel="nofollow" onclick="popBtn()">立即报名</a>
							</dl>
							<img src="picture/bms02.png">
						</div>
						<div class="two_Bch_con">
							<dl>
								<a href="#" rel="nofollow"><dt>我想，申请欧洲名校</dt></a>
								<dd>多对一辅导 全面提升综合竞争力</dd>
								<a href="#" class="bc_a" rel="nofollow">了解服务</a>
							</dl>
							<img src="picture/bms03.png">
						</div>
						<div class="two_Bch_con" style="margin-right: 0">
							<dl>
								<a href="#" rel="nofollow"><dt>我想，找学生公寓</dt></a>
								<dd>拒绝裸归 成功跻身北美 顶尖名企
								</dd>
								<a href="#" class="bc_a" rel="nofollow">定制方案</a>
							</dl>
							<img src="picture/bms04.png">
						</div>
					</div>
					<div class="two_Cch">
						<a href="#" title="捷航院校库">
							<span>查学校排名</span>
							<i>什么学校适合你？</i>
						</a>
						<a href="#" title="出国留学专业">
							<span>看专业解析</span>
							<i>解读细分专业区别</i>
						</a>
						<a href="#" title="捷航培训在线模考">
							<span>指导预约</span>
							<i>熟悉考试题型与形式</i>
						</a>
						<a href="#" title="捷航培训课程表">
							<span>在线指导</span>
							<i>海外资源众多</i>
						</a>
						<a href="#" rel="nofollow">
							<span>头脑风暴</span>
							<i>深挖学生潜能和优势</i>
						</a>
						<a href="#" rel="nofollow">
							<span>文书与申请</span>
							<i>针对申请纯英文创作</i>
						</a>
						<a href="#" title="捷航海外服务">
							<span>办签证</span>
							<i>指导材料模拟面试</i>
						</a>
						<a href="#" title="捷航海外服务" style="margin-right: 0;">
							<span>行前指导</span>
							<i>指导购机票、保险等</i>
						</a>
						<a href="#" title="捷航留学成功案例大全">
							<span>对比案例</span>
							<i>查询捷航留学案例库</i>
						</a>
						<a href="#" title="捷航留学方案">
							<span>选方案</span>
							<i>定制个性化留学方案</i>
						</a>
						<a href="#" title="香港sat考团">
							<span>捷航考团</span>
							<i>名师带队全程无忧</i>
						</a>
						<a href="#" rel="nofollow">
							<span>抢考位</span>
							<i>高速代报通道</i>
						</a>
						<a href="#·" title="捷航活动策划留学方案">
							<span>实习科研</span>
							<i>ISP全面提升软实力</i>
						</a>
						<a href="#" rel="nofollow">
							<span>面试套磁</span>
							<i>针对学校教授来辅导</i>
						</a>
						<a href="#" title="捷航海外置业网" rel="nofollow">
							<span>海外置业</span>
							<i>一站式终身服务</i>
						</a>
						<a href="#" title="捷航留学方案" style="margin-right: 0;">
							<span>海外求职</span>
							<i>辅导+规划双管齐下</i>
						</a>
					</div>
					<!---------捷航服务end -------->
					<!--为什么选择捷航s-->
					<div class="why-select">
						<h2><a href="#">为什么选择捷航</a></h2>
						<div class="why-select-advantage">
							<div class="wsa-advantage wsa-advantage-1">
								<h2>
									<p><img src="img/xxx.png"></p>
									申请案例众多</h2>
								<p>捷航团队已帮助多人在欧洲及东南亚成功留学</p>
							</div>
							<div class="wsa-advantage">
								<h2>	<p><img src="img/xxx.png"></p>涵盖各专业的数万真实申请案例</h2>
								<p>我们建立了国内领先的申请数据库，拥有数万真实申请案例，涵盖各专业领域；撰写几十万字的原创留学申请文章、专业的留学书籍，</p>
							</div>
							<div class="wsa-advantage">
								<h2>	<p><img src="img/xxx.png"></p>海外名院校顾问团队</h2>
								<p>拥有以查理大学、亚琛工业大学、考文纽斯大学为代表的海外顾问团队，还拥有国内领先的海外名校教授资源。</p>
							</div>
						</div>
						<!--<a href="#">查看详情</a>-->
					</div>
				</div>
				<!--为什么选择捷航end-->
			</div>

			<!--捷航，服务每一份留学梦s-->
			<div class="section section2">
				<div class="container">
					<h2 class="wow fadeInUp">捷航，服务每一份留学梦</h2>
					<span class="s-line" style="margin-bottom: 18px;"></span>
					<!--<a class="btnc" target="_blank" href="#">了解更多>></a>-->
					<div class="colxsy">
						<ul class="defaInUp">
							<li>
								<div class="name-co name-co1">
									<div></div>
								</div>
								<div class="conone">
									<h3>实力可靠</h3>
									<p>
										众多荣誉<br /> 行业认可度高
									</p>
								</div>
							</li>
							<li>
								<div class="name-co name-co2"></div>
								<div class="conone">
									<h3>专业团队</h3>
									<p>
										留学精英团队个性化留学规划<br /> 管家一对一全程监管
									</p>
								</div>
							</li>
							<li>
								<div class="name-co name-co3"></div>
								<div class="conone">
									<h3>便捷高效</h3>
									<p>
										便捷进度查询，内外流程监督<br /> 高效服务全透明
									</p>
								</div>
							</li>
							<li>
								<div class="name-co name-co4"></div>
								<div class="conone">
									<h3>价格优惠</h3>
									<p>
										专业的服务标准，竞争力的价格<br /> 价格更实在
									</p>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="see_more">
				<p class="guanzhu">留学意向国家未定，你可能关注</p>
				<span style="width: 237px;
    height: 3px;
    background-color: #fb534a;
    margin: 0px auto;
    display: block;
    margin-top: 10px;"></span>
				<!--<p class="list">
					<a href="javascript:;" class="one">各国留学优势对比</a>
					<a href="javascript:;" class="two">哪个排名最权威？</a>
					<a href="javascript:;" class="three">哪个专业适合我？</a>
					<a href="javascript:;" class="four">哪个大学好就业？</a>
					<a href="javascript:;" class="five">需要花多少钱？</a>
					<a href="javascript:;" class="six">多久可以毕业？</a>
					<a href="javascript:;" class="seven">学历含金量对比</a>
					<a href="javascript:;" class="eight">热门专业年薪对比</a>
					<a href="javascript:;" class="nine">申请条件有什么限制？</a>
					<a href="javascript:;" class="ten">可以申请到奖学金吗？</a>
					<a href="javascript:;" class="elewen">考试分数有哪些要求？</a>
					<a href="javascript:;" class="last">更多问题，点击咨询</a>
					<div class="clearfix"></div>
				</p>-->
				
			<div  class="advantage"><img src="img/advantage.png"></div>	
				
				
			</div>

			<!--捷航，服务每一份留学梦end-->
			<!--留学流程s-->
			<div class="g-cnt m-lxlc">
				<div class="u-tit">
					<h3>留学流程</h3>
				</div>
				<div class="lxlc-cnt f-cb">
					<a class="lxlc-box lxlc-box-01" target="_blank" href="javascript:void(0);" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_37_ZX']);"> <em></em>
						<p>留学规划</p>
					</a>
					<a class="lxlc-box lxlc-box-02" href="javascript:void(0);" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_38_CLJ']);" target="_blank"> <em></em>
						<p>背景提升</p>
					</a>
					<a class="lxlc-box lxlc-box-03" href="javascript:void(0);" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_39_CLJ']);" target="_blank"> <em></em>
						<p>留学申请</p>
					</a>
					<a class="lxlc-box lxlc-box-04" href="javascript:;" target="_blank" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_40_CLJ']);"> <em></em>
						<p>学习规划</p>
					</a>
					<a class="lxlc-box lxlc-box-05" href="javascript:void(0);" target="_blank" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_41_ZX']);"> <em></em>
						<p>语言提升</p>
					</a>
					<a class="lxlc-box lxlc-box-06" target="_blank" href="javascript:void(0);" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_42_ZX']);"> <em></em>
						<p>文书创作</p>
					</a>
					<a class="lxlc-box lxlc-box-07" href="javascript:void(0);" target="_blank" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_43_ZX']);"> <em></em>
						<p>签证办理</p>
					</a>
					<a class="lxlc-box lxlc-box-08" href="javascript:void(0);" onClick="_hmt.push(['_trackEvent', 'meiqia', 'clicked', 'liuxue_index_44_ZX']);"> <em></em>
						<p>后续服务</p>
					</a>
				</div>

		<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D'>	<p class="text-center" style="text-align: center;margin-top: 200px;"><span class="zixun">点击咨询</span></p>	
			</div>
			<!--留学流程e-->
			<!-- 语言培训 -->
			<div class="ms_yypx">
				<div class="container">
					<div class="ms_title">
						<h2>翻译及语言援助<span></span></h2>
						<h3>为您提供语言培训指导，有效的提升语言成绩</h3>
					</div>
					<ul class="clearfix px_list">
						<li>
							<a href="#">
								<img src="picture/px_li1.jpg" alt="">
								<div class="text">
									<h2>捷克语翻译及证书</h2>
									<span></span>
									<p>适合：学生及商旅人士</p>
									<p>优势：捷航拥有母语使用者及中国证书持有者</p>
									<!--<p>提供：TOEFL、IELTS、SAT、GRE、GMAT、SSAT、TOEFLJunior、SLEP语言提升课程</p>-->
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="picture/px_li2.jpg" alt="">
								<div class="text">
									<h2>英语翻译及证书</h2>
									<span></span>
									<p>适合：学生及商旅人士</p>
									<p>优势：捷航拥有母语使用者及中国证书持有者</p>
									<!--<p>提供：TOEFL、IELTS、SAT、GRE、GMAT、SSAT、TOEFLJunior、SLEP语言提升课程</p>-->
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="picture/px_li3.jpg" alt="">
								<div class="text">
									<h2>匈牙利语翻译及证书</h2>
									<span></span>
									<p>适合：学生及商旅人士</p>
									<p>优势：捷航拥有母语使用者</p>
									<!--<p>提供：TOEFL、IELTS、SAT、GRE、GMAT、SSAT、TOEFLJunior、SLEP语言提升课程</p>-->
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 语言培训e -->
			<!-----------表单---------->
			<!--弹框-->
			<div id="news-main">
				<div class="sucpop-common">
					<table width="100%" height="100%" border="0" cellpadding="0">
						<tr>
							<td align="left" bgcolor="#db2c3f" style="color:#fff">温馨提示</td>
						</tr>
						<tr>
							<td align="center">
								<div class="boxDesc"></div>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="button" value="确定" class="surebtn" /></td>
						</tr>
					</table>
				</div>

				<div class="applypopbox-common"></div>
				<div class="applypop-common">
					<div class="pop-title">
						<span>出国留学疑问多？想读名校，不知如何准备？</span>
						<div class="closebtn"><img src="images/close-icon.png" /></div>
					</div>
					<div class="clear"></div>
					<form action="#" name="onlineForm1" method="post" style="margin:0px;padding:0px;">
						<input type="hidden" name="partId-common" id="partId-common" value="web-yuyue-common" />
						<input type="hidden" name="partName-common" id="partName-common" value="专题公用资源入口【集团】-弹框" />
						<table class="formt" border="0" cellspacing="0" cellpadding="10">
							<tr>
								<td align="right" width="100">*姓名：</td>
								<td><input type="text" value="" name="userName" id="userName-common" /></td>
							</tr>
							<tr>
								<td align="right">意向国家：</td>
								<td>
									<select name="toPlace" id="toPlace-common">
										<option value="">请选择</option>		
										<option value="捷克">捷克</option>
										<option value="法国">法国</option>
										<option value="加拿大">加拿大</option>
										<option value="澳大利亚">澳大利亚</option>
										<option value="新西兰">新西兰</option>
										<option value="新加坡">新加坡</option>
										<option value="中国香港">中国香港</option>
										<option value="日本">日本</option>
										<option value="韩国">韩国</option>
										<option value="法国">法国</option>
										<option value="德国">德国</option>
										<option value="意大利">意大利</option>
										<option value="荷兰">荷兰</option>
										<option value="爱尔兰">爱尔兰</option>
										<option value="其他">其他</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="right">*电话：</td>
								<td><input type="text" value="" name="usertel" id="usertel-common" /></td>
							</tr>
							<tr>
								<td align="right">所在城市：</td>
								<td>
									<select name="fromCity" id="fromCity-common">
										<option value="">请选择</option>
										<option value="北京">北京</option>
										<option value="上海">上海</option>
										<option value="杭州">杭州</option>
										<option value="苏州">苏州</option>
										<option value="长沙">长沙</option>
										<option value="深圳">深圳</option>
										<option value="郑州">郑州</option>
										<option value="宁波">宁波</option>
										<option value="西安">西安</option>
										<option value="厦门">厦门</option>
										<option value="济南">济南</option>
										<option value="武汉">武汉</option>
										<option value="福州">福州</option>
										<option value="南昌">南昌</option>
										<option value="太原">太原</option>
										<option value="温州">温州</option>
										<option value="舟山">舟山</option>
										<option value="天津">天津</option>
										<option value="南京">南京</option>
										<option value="重庆">重庆</option>
										<option value="合肥">合肥</option>
										<option value="成都">成都</option>
										<option value="广州">广州</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="right">*是必填项</td>
							</tr>
							<tr>
								<td align="center" colspan="2">
									<input type="button" value="预约申请"  id="subBtnCommon" name="Submit" />
									<a class="olcall"  href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D'    target="_blank">在线咨询</a>
									<div class="clear"></div>
								</td>
							</tr>
						</table>

					</form>
				</div>
			</div>
			<!-----------表单---------->
			<!-----------名师团队---------->
			<div class="two_Hch">
				<div id="two_Hch-con">
					<div class="hd css_hd">
						<h3 class="css_h3">名师团队</h3>
					</div>
					<div class="bd">
						<!---百叶窗---->
						<div class="bycBG">
							<div class="byc">
								<div id="center">
									<div id="slider">
										<div class="slide" style="border-left: none; left: 0px;">
											<a href="#"><img class="diapo" src="picture/5acb3a141e0ab.jpg" alt="" style="opacity: 0.7; visibility: visible;"></a>
											<p class="p">
												<img src="picture/yin.png">
												<span>现在就是出发的时刻，拒绝平庸，仰天大笑出门去，我辈岂是蓬蒿人！</span>
											</p>
											<div class="pp">
												<dl>
													<dt>Zida （袁自达）<span></span></dt>
													<dd>查理大学 自然科学院，捷克语授课中国首人，选报考试专业第9名;零基础，9个月，获捷克语证书，级别B2；中文、英文、捷克文为授课级别或者母语，法文入门。</dd>
												</dl>
												<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D' rel="nofollow">预约</a>
											</div>
											<div class="backgroundText" style="top: 261px;"></div>
											<div class="text" style="top: 261px;"></div>
										</div>

										<div class="slide" style="left: 245px;">
											<a href="#"><img class="diapo" src="picture/5acb3a141e0ab.jpg" alt="" style="opacity: 0.7; visibility: visible;"></a>
											<p class="p">
												<img src="picture/yin.png">
												<span>不断的跨文化，使得我们更好的理解这世界！</span>
											</p>
											<div class="pp">
												<dl>
													<dt>Žaneta<span></span></dt>
													<dd>曾免学费求学中国、斯洛伐克、匈牙利、捷克、瑞典五国。欧洲名校计算机专业本硕连读斯洛伐克语、匈牙利语、捷克语、英语、德语为授课级别或者母语，中文入门级。</dd>
												</dl>
												<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D' rel="nofollow">预约</a>
											</div>
											<div class="backgroundText" style="top: 261px;"></div>
											<div class="text" style="top: 261px;"></div>
										</div>
										<div class="slide" style="left: 485px;">
											<a href="#"><img class="diapo" src="picture/5acb3a141e0ab.jpg" alt="" style="opacity: 0.7; visibility: visible;"></a>
											<p class="p">
												<img src="picture/yin.png">
												<span>音乐无国界，爱上音乐，让世界也爱上你！</span>
											</p>
											<div class="pp">
												<dl>
													<dt>Baihang (白航) <span></span></dt>
													<dd>捷克雅娜切克音乐学院，首位中国籍声乐硕士，选拔考试声乐第2名；几乎零基础，5个月，获捷克语证书，级别B1。不止是声乐，钢琴也可以很好听。</dd>
												</dl>
												<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D' rel="nofollow">预约</a>
											</div>
											<div class="backgroundText" style="top: 262px;"></div>
											<div class="text" style="top: 262px;"></div>
										</div>

										<div class="slide" style="left: 725px;">
											<a href="#"><img class="diapo" src="picture/5acb3a141e0ab.jpg" alt="" style="opacity: 0.7; visibility: visible;"></a>
											<p class="p">
												<img src="picture/yin.png">
												<span>几年前我也曾经历和你一样的处境，留学对于你是一个勇敢的选择，千山万水，你不应该害怕，在你面前是无限的可能，我们已经准备好帮助你！</span>
											</p>
											<div class="pp">
												<dl>
													<dt>Ilia<span></span></dt>
													<dd>查理大学，生物专业，第一学年超标修学分！俄语、捷克语、英语为授课级别或母语</dd>
												</dl>
												<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D' rel="nofollow">预约</a>
											</div>
											<div class="backgroundText" style="top: 261px;"></div>
											<div class="text" style="top: 261px;"></div>
										</div>

										<div class="slide" style="left: 965px;">
											<a href="#"><img class="diapo" src="picture/5acb3a141e0ab.jpg" alt="" style="opacity: 0.7; visibility: visible;"></a>
											<p class="p">
												<img src="picture/yin.png">
												<span>运气就是机会碰巧撞到了你的努力。</span>
											</p>
											<div class="pp">
												<dl>
													<dt>Cheng Hua (陈华）<span></span></dt>
													<dd>查理大学，化学博士生；浙江理工大学，校级优秀三好学生，浙江省省级三好学生，国家励志奖学金多次。可以为你，规划出适合你的升学及留学之路。我在欧洲等你来。</dd>
												</dl>
												<a href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D' rel="nofollow">预约</a>
											</div>
											<div class="backgroundText" style="top: 262px;"></div>
											<div class="text" style="top: 262px;"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-----------名师团队end---------->

			<!----------名校·专业------------>
			<div class="two_Mch">
				<div class="two_Mch-con">
					<div class="hd">
						<h3>名校·专业</h3>
					</div>
					<div class="bd">
						<div class="mxzy_con">
							<div class="inHd">
								<ul>
									<li v-for="(item,index) in schoolList" v-bind:class="{on:index==0}">
										<span  v-bind:title="item.country">{{item.country}}留学</span>
									</li>
								</ul>
							</div>
							<div class="inBd">
								<div class="yxk" v-for="(item,index)  in schoolList" v-bind:style="{display: index==0?'block':'none'}">
									<dl v-for="sing in item.countrylist">
										<dt><a  style="display:block"  v-bind:href="'schooldetail.html?id='+sing.Id"><img  v-bind:src="sing.logo"></a></dt>
										<dd>
											<p>
												<a v-bind:href="'schooldetail.html?id='+sing.Id" v-bind:title="sing.schoolName">{{sing.schoolName}}</a>
											</p>
											<span>大学优势：{{sing.des}}</span>
											<span>录取率:{{sing.acceptanceRate}}</span>
											<!--<span>捷航录取数：13</span>-->
										</dd>
									</dl>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<iframe frameborder="0" scrolling="no" src="footer.html" height="516px" width="100%" style="min-width:1200px;"></iframe>
		</div>
		<script src="config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					list: null,
					schoolList: null
				},
				methods: {
					getData: function(url, params) {
						axios({
							method: 'get',
							url: url,
							data: params
						}).then((res) => {
							res.data.data.forEach(function(item, index) {
								if(item.typeid == 'zo') {
									item.typeid = "中欧"
								} else if(item.typeid == 'do') {
									item.typeid = "东欧"
								} else if(item.typeid == 'xo') {
									item.typeid = "西欧"
								} else if(item.typeid == 'bo') {
									item.typeid = "北欧"
								} else if(item.typeid == 'no') {
									item.typeid = "南欧"
								} else if(item.typeid == 'dny') {
									item.typeid = "东南亚"
								}

							})
							this.list = res.data.data;
						}, function() {
							console.log('请求失败');
						});
					},
					getSchool: function(url, params) {
						axios({
							method: 'get',
							url: url,
							data: params
						}).then((res) => {
							this.schoolList = res.data.data;
							console.log(this.schoolList)
						}, function() {
							console.log('请求失败');
						});
					}
				},
				created() {
					this.getData("/getcountry", {});
					this.getSchool("/indexSchool", {})
				}
			})
		</script>
		  <script>
			$(function() {					
				$(".inHd ul li").hover(function() {
					var index = $(this).index();
					$(this).addClass("on");
					$(this).siblings().removeClass("on");
					$(".inBd .yxk").eq(index).css({
						"display": "block"
					});
					$(".inBd .yxk").eq(index).siblings().css({
						"display": "none"
					});
				})
			})
		</script>
		<script src="script/byc-slider.js"></script>
		<script type=text/javascript>
			slider.init();
		</script>
		<!--弹出表单-->
		<!--轮播配置-->
		<script src="js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
		<script>
			function popBtn() {
				$("#news-main .applypop-common").fadeIn(800);
				$("#news-main .applypopbox-common").fadeIn(800);
			}
			$(function() {
				$("#news-main .applypopbox-common,.closebtn").click(function() {
					$("#news-main .applypopbox-common").fadeOut(800);
					$("#news-main .applypop-common").fadeOut(800);
				});
				$("#news-main .surebtn").click(function() {
					if($("#news-main .boxDesc").html() == '预约成功！稍后会有老师联系您，请保持手机畅通！') {
						$("#news-main .sucpop-common").fadeOut(800);
						$("#news-main .applypop-common").fadeOut(800);
						$("#news-main .applypopbox-common").fadeOut(800);
					} else {
						$("#news-main .sucpop-common").fadeOut(800);
					}
				});
				$("#news-main #subBtnCommon").click(function() {
					var userName = $("#news-main #userName-common").val();
					var userCity = $("#news-main #fromCity-common").val();
					var toPlace = $("#news-main #toPlace-common").val();
					var userTel = $("#news-main #usertel-common").val();
					if(userName == "" || userName == "请输入您的姓名") {
						alertBoxCommon("请输入您的姓名", '1000');
						$("#news-main #userName-common").val("");
						$("#news-main #userName-common").focus();
						return false;
					} else {
						var reg = /([\u4E00-\u9FA5\uf900-\ufa2d]{2,3})|([a-zA-Z]{3,20})/;
						if(!userName.match(reg)) {
							alertBoxCommon("请请核对你的姓名！", '1000');
							$("#news-main #userName-common").focus();
							return false;
						} else if(userName.length >= 5) {
							alertBoxCommon("请核对你的姓名！", '1000');
							$("#news-main #userName-common").focus();
							return false;
						}
					}
					var reg = /^0{0,1}(1)[0-9]{10}$/;
					if(userTel == "" || userTel == "请输入手机号码") {
						alertBoxCommon("请输入手机号码", '1000');
						$("#news-main #userTel").val('');
						$("#news-main #userTel").focus();
						return false;
					} else if(reg.test(userTel) != true) {
						alertBoxCommon("请核对你的手机号码！", '1000');
						$("#news-main #userTel").focus();
						return false;
					}
					var szData = {
						studentName: userName,
						phone: userTel,
						wantCountry: toPlace,
						country: userCity,
						oper: "save",
						partId: $("#partId-common").val(),
						partName: $("#partName-common").val(),
						major:"未知"
					};
					var ajaxUrl =websiteURL+ "/tankuangbaoming";
					$.ajax({
						type: 'POST',
						url: ajaxUrl,
						data: szData,
						success: function(res) {
							console.log(res)
							alert(res)
							
						}
					})
				})

				function alertBoxCommon(desc, time) {
					$("#news-main .boxDesc").html(desc);
					$("#news-main .sucpop-common").show();
				}

				function cleanForm() {
					for(var i = 0; i < arguments.length; i++) {
						$(arguments[i]).val('');
					}
				}
			})
		</script>
	</body>

</html>