<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="icon" href="favicon.ico" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/less" href="less/common.less" />
		<link rel="stylesheet" type="text/less" href="less/case.less" />
		<link rel="stylesheet" type="text/css" href="less/plan.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
	</head>

	<body>

		<div class="box" id="app" v-cloak>
			<div class="top">
				<div class="w1200">
					<a href="index.html" title="捷航教育科技有限公司" class="pull-left">
						<div class="logo"><img src="img/logo.png"></div>
					</a>
					<ul class="navhead">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li v-for="item in list">
							<span>{{item.typeid}}</span>
							<ul>
								<li v-for="sing in item.countrylist">
									<a v-bind:href="'country.html?id='+sing.Id">{{sing.country}}</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="plan.html">留学服务</a>
						</li>
						<li>
							<a href="questCenter.html">答疑中心</a>
						</li>
						<li>
							<a href="about.html?id=1">公司简介</a>
						</li>
						<div class="clearfix"></div>
					</ul>
					<div class="phone pull-right">
						<p>咨询热线:15301813081</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--头部导航-->
			<!--<header>
				<div class="w1200">

					<dl class="tnRight">

						
						<div class="clearfix"></div>
					</dl>

				</div>
			</header>-->
			<div class="wrap">
				<!--轮播图-->
				<div class="swiper-container" style="width: 100%;min-width: 1200px;">
					<div class="swiper-wrapper bannerImg">
						<div class="swiper-slide" style="background: url(images/tp1.jpg) no-repeat center center;background-size: cover;height:600px;width:100%;min-width:1200px">
						</div>
					</div>
				</div>

			</div>

			<div id="pro">
				<div class="div1">
					<div class="topa">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>出国留学为什么要选留学机构？</h4>
						</a>
						<div class="topb">
							<ul>
								<li>
									<p class="a">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#595feb">大型留学服务机构放心</a>
									</p>
									<p class="b">大型留学服务机构都在教育部有备案，为学生申请的学校都是正规并且受中国教育部承认的学历，是家长、学生出国留学的不错之选。</p>
								</li>
								<li>
									<p class="a">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#595feb">提高名校申请竞争力</a>
									</p>
									<p class="b">20年以上的留学服务机构拥有多年数据积累，能够应用自身的案例优势，针对名校申请率做分析，能更准确的提高学生名校申请率。</p>
								</li>
								<li>
									<p class="a">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#595feb">量身定制留学方案</a>
									</p>
									<p class="b">大型留学服务机构办理经验丰富，同时能够根据学生性格特点、学术背景、职业规划、家庭财力等综合多方面定制较优留学办理方案。</p>
								</li>
								<li style="margin-right:0px;">
									<p class="a">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#595feb">合作院校资源丰富</a>
									</p>
									<p class="b">国外学校采取先到先得，满额为止的录取，留学服务机构常年与国外学校有合作，能快速获得近期招生信息，为学生申请提供重要基础。</p>
								</li>
							</ul>
						</div>
						<div class="topc">
							<a href="" class="btn3 commonfonta" onclick="doyoo.util.openChat('g=10061553'); return false;" target="_blank">选放心留学服务机构</a>
							<a href="javascript:;" class="btn4 commonfonta popbtn">预约获取留学方案</a>
						</div>
					</div>
				</div>
				<div class="div2">
					<div class="heada">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>评估是否需要留学机构服务</h4>
						</a>
						<div class="headb">
							<ul>
								<li>
									<p>是否了解留学申请的每一个环节的要求及手续</p>
								</li>
								<li style="margin-right:0px;">
									<p>是否具备留学办理经验，有效规避申请过程的风险因素</p>
								</li>
								<li>
									<p>是否认为网络上留学信息冗杂，不能快速辨别真伪</p>
								</li>
								<li style="margin-right:0px;">
									<p>是否能根据自身性格、爱好、职业做出留学规划</p>
								</li>
								<li>
									<p>是否确定申请目标学校、专业近期录取率</p>
								</li>
								<li style="margin-right:0px;">
									<p>是否能在院校面试过程中，快速获得招生官亲睐</p>
								</li>
								<li>
									<p>是否能在第一时间掌握目标院校近期招生动态</p>
								</li>
								<li style="margin-right:0px;">
									<p>是否能够合理规划背景能力，令自己顺利进入名校</p>
								</li>
								<li>
									<p>是否了解学校录取规则，并采取有效措施较终获得offer</p>
								</li>
								<li style="margin-right:0px;">
									<p>是否了解名校申请的激烈程度，如何拥有绝对优势</p>
								</li>
							</ul>
						</div>
						<div class="headc">
							<a href="" class="btn5 commonfonta" onclick="doyoo.util.openChat('g=10061553'); return false;" target="_blank">如何有效规避留学风险</a>
							<a href="" class="btn6 commonfonta popbtn">科学定制名校申请规划</a>
						</div>
					</div>
				</div>
				<div class="div3">
					<div class="box">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>留学服务机构能为您提供哪些服务？</h4>
						</a>
						<div class="boxa">
							<ul>
								<li>
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">留学申请评估与定制方案</a>
									</p>
									<p class="d" style="width:272px;">留学服务机构会根据您的在校成绩、所读院校、社会实践、性格特点等综合因素进行留学初步评估，然后捷航留学将结合您的留学目标院校、理想专业、未来就业为您定制留学办理方案。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【点击免费评估】</strong></a>
									</p>
								</li>
								<li>
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">学校、专业选择与职业规划</a>
									</p>
									<p class="d">学校与专业选择是留学环节中较重要的环节，通常留学中介机构会为您选择多所院校及专业，并根据专业特点与将来就业情况为您进行梯度申请初级目标、中级目标及冲刺，全方位保障您的留学申请结果。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【推荐院校专业】</strong></a>
									</p>
								</li>
								<li style="margin-right:0px;">
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">软硬背景能力提升指导</a>
									</p>
									<p class="d">留学服务机构有配套的语言培训课程，确保您的雅思、托福成绩达标，除此之外捷航留学将为您推荐名企实习、公益活动、海外课堂等独特的背景提升项目，从多个视角全面提升您的综合背景实力。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【了解背景提升项目】</strong></a>
									</p>
								</li>
								<li>
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">有效合理与海外院校保持沟通</a>
									</p>
									<p class="d">大型留学服务机构多年与海外上千所院校保持良好合作关系，能够快速获得近期招生动态与专业申请细则，避免因信息误差造成的申请失败，捷航留学能够帮您抓住申请时机，提高名校录取率。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【如何提升录取率】</strong></a>
									</p>
								</li>
								<li>
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">制定创意留学文书与写作辅导</a>
									</p>
									<p class="d">文书是招生官来判断是否被录取的重要途径，大型留学服务机构有多年经验，可以深度挖掘学生的亮点，并能够根据申请学校、专业的不同对文书提供差异化创新建议，在语法、用词上给予专业指导。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【专业文书定制】</strong></a>
									</p>
								</li>
								<li style="margin-right:0px;">
									<p class="c">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#a1134f">签证办理及海外后续服务</a>
									</p>
									<p class="d">留学机构在成功帮助学生申请到国外的学校，拿到offer后，还需要协助学生办理留学签证，进行面签辅导，大型留学中介机构往往在海外设立办事处，为学生提供360°全程护航。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【留学签证咨询】</strong></a>
									</p>
								</li>
							</ul>
						</div>
						<div class="boxb">
							<a href="" class="btn7 commonfonta" onclick="doyoo.util.openChat('g=10061553'); return false;" target="_blank">在线了解海外名校招生动态</a>
							<a href="" class="btn8 commonfonta popbtn">免费预约定制专属留学方案</a>
						</div>
					</div>
				</div>
				<div class="div4">
					<div class="boxc">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>如何正确选择留学服务机构?</h4>
						</a>
						<div class="boxd">
							<ul>
								<li class="tpa">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">留学资质认证</a>
									</p>
									<p class="f">留学服务机构市场竞争激烈，要小心"贴牌机构"甚至"黑中介机构"。在选择留学机构时,要认清两证：国家教育部颁发的自费出国留学中介服务许可证、当地工商局颁发的带有自费出国留学服务字样的营业执照，只有两证齐全才是合法的机构。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【留学资质查询】</strong></a>
									</p>
								</li>
								<li class="tpb">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">从业历史与经验</a>
									</p>
									<p class="f">留学中服务机构经过多年丰富的办理经验逐渐探索和总结出科学有效的完整申请的系统以及办理流程。捷航留学在22年的行业经验中，曾经办理过20余万成功案例，通过总结经验，深度了解院校录取规则，从而更好的服务学生。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【咨询办理流程】</strong></a>
									</p>
								</li>
								<li class="tpc">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">海外合作院校资源多</a>
									</p>
									<p class="f">大型留学服务机构，通常与多所海外院校保持良好联系，并获得院校的认可和信任。捷航留学22年的办理经验，与海外2000多所院校达成友好合作关系，获得近期招生信息，为留学提供有效指导。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【合作院校查询】</strong></a>
									</p>
								</li>
								<li class="tpd">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">成功案例与口碑</a>
									</p>
									<p class="f">一家大型留学服务机构办理的成功案例将有效的展示出机构的优势与实力，捷航留学20余万成功案例，能够通过详细办理流程总结成功经验，不断提升整体操作能力，同时在家长圈建立优质口碑。
										<a href="http://www.igo.cn/cases/search/" target="_blank" style="color: red;"><strong>【一键匹配成功案例】</strong></a>
									</p>
								</li>
								<li class="tpe">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">留学服务机构的专业程度</a>
									</p>
									<p class="f">一家好的留学服务机构，应是专业先行，如果能为学生"量体裁衣"，同时为学生提供专业的学习规划甚至是职业规划，这才是值得信赖的机构。捷航留学22年的专业办理经验，为您提供满意留学服务。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【个性化留学服务定制】</strong></a>
									</p>
								</li>
								<li class="tpf">
									<p class="e">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#434343">提升学生的全球竞争力</a>
									</p>
									<p class="f">出国留学服务机构不仅仅能够帮您申请到名校、好专业，更重要的是获得人生价值的增长，例如：领导力提升、表达能力的锻炼、有效的时间管理等。捷航留学始终致力于中国学子全球竞争力的提升。
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【如何提升个人竞争力】</strong></a>
									</p>
								</li>
							</ul>
						</div>
						<div class="boxe">
							<a href="" class="btn9 commonfonta" onclick="doyoo.util.openChat('g=10061553'); return false;" target="_blank">免费咨询选好学校好专业</a>
							<a href="" class="btn10 commonfonta popbtn">免费预约即获名校招生秘籍</a>
						</div>
					</div>
				</div>
				<div class="div5">
					<div class="boxf">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>捷航留学与其它留学机构的区别</h4>
						</a>
						<div class="boxg">
							<ul>
								<li>
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">捷航留学卓越品牌 受到国内外媒体赞扬</a>
									</p>
									<p class="h">捷航留学作为官方创办的教育集团，始终致力于为客户创造全球学习和发展的机会。成立22年来，帮助无数中国家庭实现了国际化发展的梦想，跻身
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">中国留学机构十佳</a>排名之列。其留学资质自然值得信赖，是中国家长和学生较放心的中国留学服务中心机构。</p>
								</li>
								<li style="margin-right:0px;">
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">捷航合作院校资源丰富，精英院校众多</a>
									</p>
									<p class="h">捷航留学作为教育部认可的留学服务机构，与全球近2000所院校保持长期友好合作关系，覆盖全球主流留学国家，为学生提供多样化的入学选择。无论是Top50名校申请，指定院校申请，快速入学申请、还是奖学金申请、留学费用规划均能提供
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">满意的解决方案。</a>
									</p>
								</li>
								<li>
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">捷航专业留学办理团队 提供申请保障</a>
									</p>
									<p class="h" style="position:relative;top:-8px;">捷航留学作为十大品牌留学机构，拥有业内留学高级专家团队，集结60%以上的世界名校“海归”专家，精通名校申请。平均从业资历五年以上，远超业内平均水平。拥有业内拔尖的文书写作和签证办理顾问，个性化申请“长传短打”均适合。捷航留学22年专业经验积累，有效提高学生
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">成功进入世界优质名校</a>的录取率。</p>
								</li>
								<li style="margin-right:0px;">
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">捷航专业规划留学，量身定制方案</a>
									</p>
									<p class="h">捷航留学通全方位了解学生优势和特点，制定个性化留学方案；每年通过组织高水准的国际教育展、专题展会、讲座面试会、视频面试会等多种形式帮助学生获得新鲜的教育资讯和快捷的录取途径，
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">院校录取率高和签证成功率高</a>连续十余年在业内保持较高水平。</p>
								</li>
								<li>
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">畅享一站式服务 轻松直达海外名校</a>
									</p>
									<p class="h">捷航留学作为教育部批准的留学服务机构，开创
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">360°成长计划</a>一站式系统化，语言准备—学术提升—海外游学—捷航留学—职业规划—未来就业。为中国学生特别构建了一个360°的全方位的国际教育服务体系，弥补了各个阶段的断层。</p>
								</li>
								<li style="margin-right:0px;">
									<p class="g">
										<a href="javascript:void(0);" onclick="popBtn()" style="color:#fff">设立海外办事处，为留学之旅保驾护航</a>
									</p>
									<p class="h">捷航留学作为十大留学机构之一，“贴心服务直达身边”的留学服务，一直将留学生海外实时响应作为企业发展很重要的环节。捷航留学设立美国、澳洲、英国、加拿大办公室，
										<a onclick="doyoo.util.openChat('g=10061553'); return false;" style="color: red; font-size:  14px;" target="_blank">360°服务从中国延续到全球。</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="boxh">
							<a href="" class="btn11 commonfonta popbtn">立即预约申请全球Top100名校</a>
							<a href="" class="btn12 commonfonta" onclick="doyoo.util.openChat('g=10061553'); return false;" target="_blank">在线咨询了解近期展会活动</a>
						</div>
					</div>
				</div>
				<div class="div6">
					<div class="boxj">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>立即预约享受捷航留学专业服务</h4>
						</a>
						<div class="boxk">
							<div class="boxka">
								<p>免费预约测试Dream School距离我有多远<span>（温馨提示：捷航承诺绝不泄露您的个人信息）</span></p>
							</div>
							<div class="boxkb">
								<div class="boxkc">
									<form name="popform">
										<input type="hidden" name="partId2" id="partId2" value="igo_service">
										<input type="hidden" name="partName2" id="partName2" value="20160511专业出国留学服务机构【集团】-底部预约">
										<div class="boxkca">
											<span class="leftname">*姓名：</span>
											<input type="text" name="userName" class="name" id="custName2" value="">
										</div>
										<div class="boxkcb">
											<span class="lefttel">*电话：</span>
											<input type="text" name="userName" class="tel" id="custTel2" value="">
										</div>
										<div class="boxkcc">
											<span class="leftcity">*意向国家：</span>
											<dl class="select" style="z-index: 10;">
												<dt id="custTo2" style="padding-left:3px;">请选择</dt>
												<dd class="commc" style="">
													<ul>
														<li>
															<a href="javascript:;">美国</a>
														</li>
														<li>
															<a href="javascript:;">英国</a>
														</li>
														<li>
															<a href="javascript:;">澳大利亚</a>
														</li>
														<li>
															<a href="javascript:;">加拿大</a>
														</li>
														<li>
															<a href="javascript:;">新西兰</a>
														</li>
														<li>
															<a href="javascript:;">日本</a>
														</li>
														<li>
															<a href="javascript:;">韩国</a>
														</li>
														<li>
															<a href="javascript:;">新加坡</a>
														</li>
														<li>
															<a href="javascript:;">马来西亚</a>
														</li>
														<li>
															<a href="javascript:;">中国香港</a>
														</li>
														<li>
															<a href="javascript:;">法国</a>
														</li>
														<li>
															<a href="javascript:;">德国</a>
														</li>
														<li>
															<a href="javascript:;">意大利</a>
														</li>
														<li>
															<a href="javascript:;">荷兰</a>
														</li>
														<li>
															<a href="javascript:;">爱尔兰</a>
														</li>
														<li>
															<a href="javascript:;">其它</a>
														</li>
													</ul>
												</dd>
											</dl>
										</div>
										<div class="boxkcd">
											<span class="leftgrade">*GPA成绩：</span>
											<input type="text" name="userName" class="grade" id="custGPA2" value="">
										</div>
									</form>
								</div>
								<div class="boxkd">
									<div class="boxkda">
										<span class="leftagrade">*托福成绩：</span>
										<dl class="selecta" style="z-index: 10;">
											<dt id="a" style="padding-left:3px;">请选择</dt>
											<dd class="commc" style="">
												<ul>
													<li>
														<a href="javascript:;">60分以下</a>
													</li>
													<li>
														<a href="javascript:;">60-70分</a>
													</li>
													<li>
														<a href="javascript:;">70-80分</a>
													</li>
													<li>
														<a href="javascript:;">80-90分</a>
													</li>
													<li>
														<a href="javascript:;">90-100分</a>
													</li>
													<li>
														<a href="javascript:;">100分以上</a>
													</li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="boxkdb">
										<span class="leftagrade">*雅思成绩：</span>
										<dl class="selecta" style="z-index: 10;">
											<dt id="custIelts" style="padding-left:3px;">请选择</dt>
											<dd class="commc" style="">
												<ul>
													<li>
														<a href="javascript:;">5分以下</a>
													</li>
													<li>
														<a href="javascript:;">5分</a>
													</li>
													<li>
														<a href="javascript:;">5.5分</a>
													</li>
													<li>
														<a href="javascript:;">6分</a>
													</li>
													<li>
														<a href="javascript:;">6.5分</a>
													</li>
													<li>
														<a href="javascript:;">7分</a>
													</li>
													<li>
														<a href="javascript:;">7分以上</a>
													</li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="boxkdc">
										<span class="leftagrade">*预估费用：</span>
										<dl class="selecta" style="z-index: 10;">
											<dt id="custFee" style="padding-left:3px;">请选择</dt>
											<dd class="commc" style="">
												<ul>
													<li>
														<a href="javascript:;">10万以下</a>
													</li>
													<li>
														<a href="javascript:;">10-15万</a>
													</li>
													<li>
														<a href="javascript:;">20-30万</a>
													</li>
													<li>
														<a href="javascript:;">30万以上</a>
													</li>
												</ul>
											</dd>
										</dl>
									</div>
									<a class="boxkdd" href="javascript:;" id="tijiao">立即提交</a>
								</div>
							</div>
						</div>

					</div>
				</div>
				<script type="text/javascript">
					$(function() {
						$(".select").each(function() {
							var s = $(this);
							var z = parseInt(s.css("z-index"));
							var dt = $(this).children("dt");
							var dd = $(this).children("dd");
							var _show = function() {
								dd.slideDown(200);
								dt.addClass("cur");
								s.css("z-index", z + 1);
							}; //展开效果
							var _hide = function() {
								dd.slideUp(200);
								dt.removeClass("cur");
								s.css("z-index", z);
							}; //关闭效果
							dt.click(function() {
								dd.is(":hidden") ? _show() : _hide();
							});
							dd.find("a").click(function() {
								dt.html($(this).html());
								_hide();
							}); //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
							$("body").click(function(i) {
								!$(i.target).parents(".select").first().is(s) ? _hide() : "";
							});
						})
					})
				</script>
				<!--托福成绩/雅思成绩/预估费用-->
				<script type="text/javascript">
					$(function() {
						$(".selecta").each(function() {
							var s = $(this);
							var z = parseInt(s.css("z-index"));
							var dt = $(this).children("dt");
							var dd = $(this).children("dd");
							var _show = function() {
								dd.slideDown(200);
								dt.addClass("cur");
								s.css("z-index", z + 1);
							}; //展开效果
							var _hide = function() {
								dd.slideUp(200);
								dt.removeClass("cur");
								s.css("z-index", z);
							}; //关闭效果
							dt.click(function() {
								dd.is(":hidden") ? _show() : _hide();
							});
							dd.find("a").click(function() {
								dt.html($(this).html());
								_hide();
							}); //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
							$("body").click(function(i) {
								!$(i.target).parents(".selecta").first().is(s) ? _hide() : "";
							});
						})
					})
				</script>
				<div class="div7">
					<div class="boxl">
						<a href="javascript:void(0);" onclick="popBtn()">
							<h4>捷航留学办理优势，院校录取率高</h4>
						</a>
						<div class="boxq">
							<ul>
								<li>
									<img src="images/tp18.png" width="125" height="125">
									<p class="j">量身制作高端文书</p>
									<p class="k">专业定制出国留学申请方案</p>
									<p class="k">
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【文书定制】</strong></a>
									</p>
								</li>
								<li>
									<img src="images/tp19.png" width="125" height="125">
									<p class="j">20多个国家上千所合作院校</p>
									<p class="k">助您无忧出国留学</p>
									<p class="k">
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【院校推荐】</strong></a>
									</p>
								</li>
								<li>
									<img src="images/tp20.png" width="125" height="125">
									<p class="j">知名品牌专家实力雄厚</p>
									<p class="k">院校录取率、签证通过率高</p>
									<p class="k">
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【预约专家】</strong></a>
									</p>
								</li>
								<li style="margin-right:0px;">
									<img src="images/tp21.png" width="125" height="125">
									<p class="j">境外服务团队</p>
									<p class="k">为留学生活提供360°保障</p>
									<p class="k">
										<a href="javascript:void(0);" onclick="popBtn()" style="color: red;"><strong>【申请咨询】</strong></a>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--弹框-->
			<div id="news-main">
				<div class="sucpop-common">
					<table width="100%" height="100%" border="0" cellpadding="0">
						<tr>
							<td align="left" bgcolor="#db2c3f" style="color:#fff">温馨提示</td>
						</tr>
						<tr>
							<td align="center">
								<div class="boxDesc"></div>
							</td>
						</tr>
						<tr>
							<td align="center"><input type="button" value="确定" class="surebtn" /></td>
						</tr>
					</table>
				</div>

				<div class="applypopbox-common"></div>
				<div class="applypop-common">
					<div class="pop-title">
						<span>出国留学疑问多？想读名校，不知如何准备？</span>
						<div class="closebtn"><img src="images/close-icon.png" /></div>
					</div>
					<div class="clear"></div>
					<form action="#" name="onlineForm1" method="post" style="margin:0px;padding:0px;">
						<input type="hidden" name="partId-common" id="partId-common" value="web-yuyue-common" />
						<input type="hidden" name="partName-common" id="partName-common" value="专题公用资源入口【集团】-弹框" />
						<table class="formt" border="0" cellspacing="0" cellpadding="10">
							<tr>
								<td align="right" width="100">*姓名：</td>
								<td><input type="text" value="" name="userName" id="userName-common" /></td>
							</tr>
							<tr>
								<td align="right">意向国家：</td>
								<td>
									<select name="toPlace" id="toPlace-common">
										<option value="">请选择</option>
										<option value="捷克">捷克</option>
										<option value="法国">法国</option>
										<option value="加拿大">加拿大</option>
										<option value="澳大利亚">澳大利亚</option>
										<option value="新西兰">新西兰</option>
										<option value="新加坡">新加坡</option>
										<option value="中国香港">中国香港</option>
										<option value="日本">日本</option>
										<option value="韩国">韩国</option>
										<option value="法国">法国</option>
										<option value="德国">德国</option>
										<option value="意大利">意大利</option>
										<option value="荷兰">荷兰</option>
										<option value="爱尔兰">爱尔兰</option>
										<option value="其他">其他</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="right">*电话：</td>
								<td><input type="text" value="" name="usertel" id="usertel-common" /></td>
							</tr>
							<tr>
								<td align="right">所在城市：</td>
								<td>
									<select name="fromCity" id="fromCity-common">
										<option value="">请选择</option>
										<option value="北京">北京</option>
										<option value="上海">上海</option>
										<option value="杭州">杭州</option>
										<option value="苏州">苏州</option>
										<option value="长沙">长沙</option>
										<option value="深圳">深圳</option>
										<option value="郑州">郑州</option>
										<option value="宁波">宁波</option>
										<option value="西安">西安</option>
										<option value="厦门">厦门</option>
										<option value="济南">济南</option>
										<option value="武汉">武汉</option>
										<option value="福州">福州</option>
										<option value="南昌">南昌</option>
										<option value="太原">太原</option>
										<option value="温州">温州</option>
										<option value="舟山">舟山</option>
										<option value="天津">天津</option>
										<option value="南京">南京</option>
										<option value="重庆">重庆</option>
										<option value="合肥">合肥</option>
										<option value="成都">成都</option>
										<option value="广州">广州</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="right">*是必填项</td>
							</tr>
							<tr>
								<td align="center" colspan="2">
									<input type="button" value="预约申请" id="subBtnCommon" name="Submit" />
									<a class="olcall" target="_blank" href='http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B"from"%3A0%2C"sid"%3A"-100"%2C"tid"%3A"-1"%2C"ttype"%3A1%2C"siteId"%3A"12889406"%2C"userId"%3A"26907084"%2C"pageId"%3A0%7D'>在线咨询</a>
									<div class="clear"></div>
								</td>
							</tr>
						</table>

					</form>
				</div>
			</div>
			<!-----------表单---------->

			<!--尾部-->
			<iframe frameborder="0" scrolling="no" src="footer.html" height="516px" width="100%" style="min-width:1200px;"></iframe>
		</div>
		<!-- 预约弹出框 end-->
		<script src="config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.onload = function() {
				var vm = new Vue({
					el: '#app',
					data: {
						list: null,
						jianjie: null,
						type: 1,
						title: ""
					},
					methods: {
						getData: function(url, params) {
							axios({
								method: 'get',
								url: url,
								data: params
							}).then((res) => {
								res.data.data.forEach(function(item, index) {
									if(item.typeid == 'zo') {
										item.typeid = "中欧"
									} else if(item.typeid == 'do') {
										item.typeid = "东欧"
									} else if(item.typeid == 'xo') {
										item.typeid = "西欧"
									} else if(item.typeid == 'bo') {
										item.typeid = "北欧"
									} else if(item.typeid == 'no') {
										item.typeid = "南欧"
									} else if(item.typeid == 'dny') {
										item.typeid = "东南亚"
									}

								})
								this.list = res.data.data;
							})
						}
					},
					created() {

						this.getData("/getcountry", {})
					}
				})

			}
		</script>
		<script>
			function popBtn() {
				$("#news-main .applypop-common").fadeIn(800);
				$("#news-main .applypopbox-common").fadeIn(800);
			}
			$(function() {
				$("#news-main .applypopbox-common,.closebtn").click(function() {
					$("#news-main .applypopbox-common").fadeOut(800);
					$("#news-main .applypop-common").fadeOut(800);
				});
				$("#news-main .surebtn").click(function() {
					if($("#news-main .boxDesc").html() == '预约成功！稍后会有老师联系您，请保持手机畅通！') {
						$("#news-main .sucpop-common").fadeOut(800);
						$("#news-main .applypop-common").fadeOut(800);
						$("#news-main .applypopbox-common").fadeOut(800);
					} else {
						$("#news-main .sucpop-common").fadeOut(800);
					}
				});
				$("#news-main #subBtnCommon").click(function() {
					var userName = $("#news-main #userName-common").val();
					var userCity = $("#news-main #fromCity-common").val();
					var toPlace = $("#news-main #toPlace-common").val();
					var userTel = $("#news-main #usertel-common").val();
					if(userName == "" || userName == "请输入您的姓名") {
						alertBoxCommon("请输入您的姓名", '1000');
						$("#news-main #userName-common").val("");
						$("#news-main #userName-common").focus();
						return false;
					} else {
						var reg = /([\u4E00-\u9FA5\uf900-\ufa2d]{2,3})|([a-zA-Z]{3,20})/;
						if(!userName.match(reg)) {
							alertBoxCommon("请请核对你的姓名！", '1000');
							$("#news-main #userName-common").focus();
							return false;
						} else if(userName.length >= 5) {
							alertBoxCommon("请核对你的姓名！", '1000');
							$("#news-main #userName-common").focus();
							return false;
						}
					}
					var reg = /^0{0,1}(1)[0-9]{10}$/;
					if(userTel == "" || userTel == "请输入手机号码") {
						alertBoxCommon("请输入手机号码", '1000');
						$("#news-main #userTel").val('');
						$("#news-main #userTel").focus();
						return false;
					} else if(reg.test(userTel) != true) {
						alertBoxCommon("请核对你的手机号码！", '1000');
						$("#news-main #userTel").focus();
						return false;
					}
					var szData = {
						studentName: userName,
						phone: userTel,
						wantCountry: toPlace,
						country: userCity,
						oper: "save",
						partId: $("#partId-common").val(),
						partName: $("#partName-common").val(),
						major:"未知"
					};
					var ajaxUrl =websiteURL+ "/tankuangbaoming";
					$.ajax({
						type: 'POST',
						url: ajaxUrl,
						data: szData,
						success: function(res) {
							console.log(res)
							alert(res)
							
						}
					})
				})

				function alertBoxCommon(desc, time) {
					$("#news-main .boxDesc").html(desc);
					$("#news-main .sucpop-common").show();
				}

				function cleanForm() {
					for(var i = 0; i < arguments.length; i++) {
						$(arguments[i]).val('');
					}
				}
			})
		</script>
	</body>

</html>